h1 {
	text-align: center;
	font-size: 40px;
}

img {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 10rem;
}
body {
	text-align: center;

}

.img_linkedin {
	position: relative;
	left: 10px;
	bottom: 10px;
}

.img_github {
	position: relative;
}

.img_envelope {
	position: relative;
}
